<div class="row mt-3 mx-auto justify-content-center">
  <div class="col-6">
    <div class="dropdown row p-0 mx-auto my-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        類別
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/">全部</a></li>
        <li><a class="dropdown-item" href="/?sort=家居物業">家居物業</a></li>
        <li><a class="dropdown-item" href="/?sort=交通出行">交通出行</a></li>
        <li><a class="dropdown-item" href="/?sort=休閒娛樂">休閒娛樂</a></li>
        <li><a class="dropdown-item" href="/?sort=餐飲食品">餐飲食品</a></li>
        <li><a class="dropdown-item" href="/?sort=其他">其他</a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-between mb-5">
      <h3 style="font-size: 3rem;">總金額：</h3>
      <h1>{{totalAmount}}</h1>
    </div>
    <table class="table table-striped align-middle">
      <tbody>
        {{#each records}}
        <tr>
          <td style="height: 80px;"><i class="{{this.categoryId.icon}}"></i></td>
          <td>
            <div class="h4">{{this.name}}</div>
            <div>{{this.date}}</div>
          </td>
          <td>$ {{this.amount}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-2 mt-auto">
    <table class="table table-borderless align-middle">
      <tbody>
        {{#each records}}
        <tr>
          <td style="height: 80px;" class="d-flex align-items-center mx-3 justify-content-between">
            <a href="/expense/{{this._id}}/edit" class="btn btn-success">修改</a>
            <form action="/expense/{{this._id}}?_method=DELETE" method="POST">
              <button class="btn btn-danger">刪除</a>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="row my-5 mx-auto justify-content-center">
    <div class="col-6 d-flex justify-content-center flex-column">
      <a href="/expense/new" class="btn btn-primary">新增支出</a>
    </div>
    <div class="col-2"></div>
  </div>
</div>